[submodule "external/go"]
	path = external/go
	url = https://github.com/dappcore/go.git
	branch = dev
[submodule "external/mcp"]
	path = external/mcp
	url = https://github.com/dappcore/mcp.git
	branch = dev
[submodule "external/process"]
	path = external/process
	url = https://github.com/dappcore/go-process.git
	branch = dev
[submodule "external/store"]
	path = external/store
	url = https://github.com/dappcore/go-store.git
	branch = dev
[submodule "external/ws"]
	path = external/ws
	url = https://github.com/dappcore/go-ws.git
	branch = dev
[submodule "external/io"]
	path = external/io
	url = https://github.com/dappcore/go-io.git
	branch = dev
[submodule "external/log"]
	path = external/log
	url = https://github.com/dappcore/go-log.git
	branch = dev
[submodule "external/rag"]
	path = external/rag
	url = https://github.com/dappcore/go-rag.git
	branch = dev
[submodule "external/api"]
	path = external/api
	url = https://github.com/dappcore/api.git
	branch = dev
[submodule "external/cli"]
	path = external/cli
	url = https://github.com/dappcore/cli.git
	branch = dev
[submodule "external/orm"]
	path = external/orm
	url = https://github.com/dAppCore/orm.git
	branch = dev
[submodule "external/go-container"]
	path = external/go-container
	url = https://github.com/dappcore/go-container.git
	branch = dev
